* {
margin: 0;
padding: 0;
}

body {
background: white;
color: black;
font-family: Roboto;
}

.center {
    width: 100%;
    max-width: 1172px;
    margin: 0 auto;
}

/* ================= Header ================== */

/*.page-top {
    padding-top: 40px;
}*/

.header {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 89px auto;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    gap: 40px;
    list-style: none;
}

.menu-item-link {
    font-size: 14px;
    line-height: 16px;
    color: black;
    text-decoration: none;
    }

.menu-item-link:hover {
    color:#F25822;
}

.menu-item-link:active {
    color: #888888;
}

    .orange{
        color: #F25822;
    }

/* ================= END Header ================== */

/* ================= page-top-content ============ */

.page-top-content {
    display: flex;
    gap: 40px;
    margin-top: 95px;
}

.page-top-desc {
    width: 100%;
    max-width: 525px;
    margin: 0 auto;
}

.page-top-title {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 17px;
}

.page-top-txt {
    width: 100%;
    max-width: 466px;
    font-size: 20px;
    line-height: 23px;
    color: #888888;
    margin-bottom: 37px;
}

.page-top-wrp-btn {
    display: flex;
    gap: 27px;
    justify-content: flex-start;
}

.btn-start {
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    border: none;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 15px 35px;
}

.btn-watch {
    background: white;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    border: none;
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
    padding: 15px 35px;
}

.btn-start:hover {
    color:#F25822;
    background-color: #FFFFFF;
}

.btn-watch:hover {
    color:#FFFFFF;
    background-color:#AAAAAA;
}

/* ================= END page-top-content ============ */

/* ================= page-top-logos ============ */

.page-top-logos {
    margin: 243px auto 96px auto;
}

.logos-list {
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    list-style: none;
}

/* ================= END page-top-logos ============ */
/* =================  Value-top ============ */

.values {

}

.value-top {
height: 491px;
display: flex;
align-content: center;
gap: 60px;
}

.value-top-item {
    width: 100%;
    max-width: 310px;
    height: 226px;
    margin-top: 140px;
    margin-bottom: 125px;
}

.value-top-item-1 {
    width: 370px;
    height: 291px;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    padding: 40px 31px 25px 29px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.value-top-icon {
    width: 70px;
    height: 70px;
    background-color: cover;
    background-repeat: no-repeat;
}

.value-top-item:nth-child(1) > .value-top-icon {
    background-image: url('../img/value_top_icon1.png');
}

.value-top-item-1 > .value-top-icon {
    background-image: url('../img/value_top_icon2.png');
}

.value-top-item:nth-child(3) > .value-top-icon {
    background-image: url('../img/value_top_icon3.png');
}

.value-top-title {
    font-size: 24px;
    line-height: 28px;
    margin: 25px auto 17px 0px;
}

.value-top-txt {
    font-size: 15px;
    line-height: 150%;
    color: #666666;
    width: 310px;
    height: 42px;
    margin: auto auto 25px 0px;
}

.value-top-btn {
    background: white;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    border: none;
    padding: 15px 15px;
    font-size: 11px;
    line-height: 150%;
    color: black;
    margin-bottom: 125px;
}

/* ================= END Value-top ============ */
/* =================  Value-top ============ */